<section class="item-section">
  <div class="image-wrapper">
    <div class="item-carousel">
      <app-carousel
        [carouselItems]="carouselItems"
        [showText]="showText"
      ></app-carousel>
    </div>
    <div class="desc-wrapper">
      <h4>{{ item && item.title }}</h4>
      <p>
        {{ item && item.description }}
      </p>
      <h6>Price: Rs {{ item && item.price }}</h6>
    </div>
  </div>
  <div class="control-wrapper">
    <div class="controls">
      <div class="title-h2">
        <h2>Title</h2>
      </div>
      <div class="lower-controls">
        <div class="price-wrapper">
          <p>Price: Rs</p>
          <p>999</p>
        </div>
      </div>
    </div>
  </div>
</section>
