<mat-card class="example-card">
  <div class="img-wrapper">
    <img mat-card-image src="{{ item.imageUrl }}" alt="Item picture" />
  </div>
  <mat-card-content>
    <a
      class="dropdown-item font-weight-bold"
      [routerLink]="['items']"
      [queryParams]="{ id: item.id }"
      >{{ item.title }}</a
    >
    <p>Rs. {{ item.price }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="link" (click)="addToCart(item.id)">
      Add To Cart
    </button>

    <!-- <button mat-button>Order</button> -->
  </mat-card-actions>
</mat-card>
