<mat-card class="example-card">
  <div class="img-wrapper">
    <img
      mat-card-image
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSazCJ5wQ2juv69gdoSzqzUTa5lq6DX_LWLpTuIVeG4fChKftcYjZ_qUGFbaxLhIrz7fL0&usqp=CAU"
      alt="Item picture"
    />
  </div>
  <mat-card-content>
    <p>Dell Insipirion</p>
    <p>Rs. 1234</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="button">Cart</button>
    <button mat-button>Order</button>
  </mat-card-actions>
</mat-card>
