<mat-card class="example-card">
  <div class="img-wrapper">
    <img
      mat-card-image
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSazCJ5wQ2juv69gdoSzqzUTa5lq6DX_LWLpTuIVeG4fChKftcYjZ_qUGFbaxLhIrz7fL0&usqp=CAU"
      alt="Item picture"
    />
  </div>
  <mat-card-content>
    <a
      class="dropdown-item font-weight-bold"
      [routerLink]="['items']"
      [queryParams]="{ id: item.id }"
      >{{ item.title }}</a
    >
    <p>Rs. {{ item.price }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="link" (click)="addToCart(item.id)">
      Add To Cart
    </button>
  </mat-card-actions>
</mat-card>
